#searchBar{
    position: absolute;
    margin-top: 170px;
    margin-left: 30%;
    height:30px;
    width: 50%;
}
input{
    position: absolute;
    width: 70%;
    border: 1px solid #e2e2e2;
    height: 30px;
    float: left;
    background-repeat: no-repeat;
    background-size: 25px;
    background-position:5px center;
    padding:0 0 0 40px;
}

#search{
    position: absolute;
    left: 70%;
    background-color: black;
    width: 78px;
    height: 32px;
    float: right;
    color: white;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
}